<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/produk/" class="{% if page.url contains 'produk' %}current{% endif %}">Produk</a></li>
    <li><a href="{{site.baseurl}}/daftar-agen/" class="{% if page.url contains 'daftar-agen' %}current{% endif %}">Agen</a></li>
    <!--li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Agen</a></li-->
    <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimoni</a></li>
    <li><a href="{{site.baseurl}}/kontak/" class="{% if page.url contains 'kontak' %}current{% endif %}">Hubungi Kami</a></li>
  </ul>
</div>
